* {
    padding: 0;
    margin: 0;
}

body {
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}



@media screen (max-width: 480px) {
    .grid {
        display: grid;
        grid-template-areas:
            'item1 item1 item1 item1'
            'item2 item2 item2 item2'
            'item3 item3 item3 item3'
            'item4 item4 item4 item4'
            'item5 item5 item5 item5';
        gap: 1rem;
        width: 70vw;
        height: 70vh;
    }
}



/* tablet */
@media screen (max-width: 767px) {
    .grid {
        display: grid;
        grid-template-areas:
            'item1 item1 item1 item1'
            'item2 item3 item3 item3'
            'item4 item4 item4 item4'
            'item5 item5 item5 item5';
        gap: 1rem;
        width: 70vw;
        height: 70vh;
    }
}

/* desktop */
@media (max-width: 1280px) {
    .grid {
        display: grid;
        grid-template-areas:
            'item1 item1 item1 item1'
            'item2 item4 item4 item4'
            'item5 item5 item5 item5';
        gap: 1rem;
        width: 70vw;
        height: 70vh;
    }
}

.item {
    padding: 3rem;

    border-radius: 20px;
}


.item:first-child {
    background-color: rgba(223, 59, 59, 0.993);
    grid-area: item1
}

.item:nth-child(2) {
    background-color: rgba(55, 102, 173, 0.993);
    grid-area: item2
}

.item:nth-child(3) {
    background-color: rgba(25, 129, 15, 0.993);
    grid-area: item3
}

.item:nth-child(4) {
    background-color: rgba(128, 76, 187, 0.993);
    grid-area: item4
}

.item:last-child {
    background-color: rgba(230, 226, 16, 0.993);
    grid-area: item5
}