* {
    padding: 0;
    margin: 0;

}

body {
    background: url(./images/5.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.conteiner {
    display: flex;
    flex: content;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    text-align: center;
    color: rgb(243, 220, 115);
}

.profile {
    width: 150px;
}