body {
    padding: 0;
    margin: 0;
}


.father {
    background-color: rgb(87, 23, 148);
    width: 500px;
    height: 500px;
    position: relative;
}

div:last-child {
    background-color: rgb(216, 46, 40);
    width: 250px;
    height: 500px;
    position: absolute;
}