* {
    padding-top: 20px;
    padding: 0;
    margin: 0;
}

div {
    background: rgb(146, 140, 140);
    width: 280px;
    display: inline-block;

}

@media (max-width:1200px) {
    div {
        margin: 15px auto;
        display: block;
        width: 400px;
    }
}